<template>
    <!-- <span>Comment</span>
    <div class="alert alert-success mt-2" v-if="this.comments.post_id">
        {{ this.comments }}
    </div> -->
</template>

<script>
    export default {
        props: ['user', 'comments'],

        mounted() {
            console.log(this.comments)

        },
        // data() {
        //     return {

        //     		postData : '',
        //     		isLiked : 0,
        //         }
        // },
        // methods: {
        // 	likePost: function() {

        // 		this.postData = this.post

        // 		axios.post('/api/likePost', {
        // 			post_data	: this.post,
        // 			currentUser : this.$userId
        // 		})
        //         .then(response => {
                	
        //         	console.log(response.data);
        //         	this.isLiked = response.data;
        //         	this.post.like = response.data;
        //         })
        //         .catch(error => {
        //             console.log(error);
        //         })
        // 	}
        // }


    
    }
</script>
