<template>
    <div class="col-md-12">
        <span class="badge badge-primary" v-if="isLiked == 1" style="cursor: pointer;" @click="likePost()">Dislike</span>
        <span class="badge badge-secondary" v-else style="cursor: pointer;" @click="likePost()">Like</span>
        <span class="badge badge-primary" style="cursor: pointer;" @click="sharePost()">Share Post</span>

        <form class="mt-2">
            <div class="form-group">
                <textarea class="form-control" v-model="commentBody" placeholder="write a comment" rows="2" required></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-xs" @click="saveComment(commentBody)">submit</button>    
            </div>
        </form>

        <div class="alert alert-dark" role="alert" v-for="(comment, index) in allcomments" v-if="comment.comment_body">
            {{ comment.comment_body }}
            <p class="mt-2"><sub><i>Posted last : {{comment.created_at}}</i></sub></p>
        </div> 
    </div>

	
</template>

<script>
    export default {
        props: ['post', 'user', 'comments'],

        mounted() {
            // console.log(this.user);

            this.allcomments = this.comments;

        	if(this.post.like)
        		this.isLiked = 1;
        	else
        		this.isLiked = 0;	

        },
        data() {
            return {

            		postData : '',
            		isLiked : 0,
                    allcomments : [],
                    commentBody : ''
                }
        },
        methods: {
        	likePost: function() {

        		this.postData = this.post

        		axios.post('/api/likePost', {
        			post_data	: this.post,
        			currentUser : this.$userId
        		})
                .then(response => {
                	
                	console.log(response.data);
                	this.isLiked = response.data;
                	this.post.like = response.data;
                })
                .catch(error => {
                    console.log(error);
                })
        	},
            saveComment: function(commentBody) {

                axios.post('/api/saveComment', {
                    comment     : commentBody,
                    currentUser : this.$userId,
                    post_id     : this.post.id
                })
                .then(response => {

                   this.commentBody = '';

                   this.allcomments.unshift({
                        'comment_body'  :response.data.comment_body,
                        'post_id'       :response.data.post_id,
                        'user_id'       :response.data.user_id,
                   });

                })
                .catch(error => {
                    console.log(error);
                })
            },

            sharePost() {
                console.log(this.post);
            }





        }


    
    }
</script>
