<template>
     <!-- Modal -->
    <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">UPDATE YOUR PROFILE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" v-model="user.name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="" class="form-control" v-model="user.email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact</label>
                        <input type="text" class="form-control" v-model="user.contact_number">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="updateUserProfile(user)">Save Changes</button>
                </div>
                </form>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],

        mounted() {
            this.user.name = this.user.name;
            this.user.email = this.user.email;
            this.user.contact_number = this.user.contact_number;

        },
        data() {
            return {

                }
        },
        methods: {
            updateUserProfile: function(user) {

                axios.post('/api/editProfile', {
                    name            : this.user.name,
                    email           : this.user.email,
                    contact_number  : this.user.contact_number,
                    currentUser     : this.$userId
                })
                .then(response => {    
                    console.log(response.data); 
                })
                .catch(error => {
                    console.log(error);
                })
            }
        }


    
    }
</script>
